{% extends "views/base.html" %}
{% block body %}
<a href="/fulfill_a_wish" class='btn btn-primary'>All</a>
<a href="/fulfill_a_wish?status=requested" class='btn btn-primary'>Requested</a>
<a href="/fulfill_a_wish?status=in progress" class='btn btn-primary'>In Progress</a>
<a href="/fulfill_a_wish?status=confirmed" class='btn btn-primary'>Confirmed</a>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Details</th> 
    <th>Type of Request</th>
    <th>Location Dependent?</th> 
    <th>Location</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  {% for wish in wishes %}
    <tr>
      <td><a href="/user?id={{wish.user_key}}">{{wish.user_key}}</a></td>
      <td>{{wish.name}}</td>
      <td>{{wish.details}}</td>
      <td>{{wish.type_of_request}}</td>
      <td>{{wish.location_dependent}}</td>
      <td>{{wish.location}}</td>
      <td>{{wish.status}}</td>
      <form method="post">
        <input name="key" type="hidden" value="{{wish.key()}}" />
        {% if wish.status == 'requested' %}
          <td><button class='btn btn-success'>Fulfill This Wish</td>
        {% endif %}
      </form>
    </tr>
  {% endfor %}
</table>
{% endblock %}
