{% extends "views/base.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/fulfill_a_wish.css">
<form id="filter">
  <h3>Filter by:</h3>
  <h4>Status</h4>
    <input type="radio" name="status" value="">All<br>
    <input type="radio" name="status" value="requested">Requested<br>
    <input type="radio" name="status" value="in progress">In Progress<br>
    <input type="radio" name="status" value="confirmed">Confirmed<br>
  <h4>Type<h4>
  <h4>Location</h4>
</form>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Details</th> 
    <th>Type of Request</th>
    <th>Location Dependent?</th> 
    <th>Location</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  {% for wish in wishes %}
    <tr>
      <td><a href="/user?id={{wish.user_key}}">{{wish.user_key}}</a></td>
      <td>{{wish.name}}</td>
      <td>{{wish.details}}</td>
      <td>{{wish.type_of_request}}</td>
      <td>{{wish.location_dependent}}</td>
      <td>{{wish.location}}</td>
      <td>{{wish.status.capitalize()}}</td>
      <form method="post">
        <input name="key" type="hidden" value="{{wish.key()}}" />
        {% if wish.status == 'requested' %}
          <td><button class='btn btn-success'>Fulfill This Wish</td>
        {% endif %}
      </form>
    </tr>
  {% endfor %}
</table>
{% endblock %}
