{% extends "views/base.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/fulfill_a_wish.css">
<form id="filter">
  <h3>Filter by:</h3>
  <h4>Status</h4>
    <input type="radio" name="status" value="all" onclick="this.form.submit()" {{"checked='true'" if search == 'all'}}>All<br>
    <input type="radio" name="status" value="requested" onclick="this.form.submit()" {{"checked='true'" if search == 'requested'}}>Requested<br>
    <input type="radio" name="status" value="in progress" onclick="this.form.submit()" {{"checked='true'" if search == 'in progress'}}>In Progress<br>
    <input type="radio" name="status" value="confirmed" onclick="this.form.submit()" {{"checked='true'" if search == 'confirmed'}}>Confirmed<br>
  <h4>Type</h4>
    {% for t in ["food", "animal", "chores", "material things", "other"] %}
      <input type="checkbox" name="type_of_request" value={{t}} onclick="this.form.submit()" {{"checked='true'" if t in types}}>{{t.capitalize()}}<br>
    {% endfor %}
</form>
<h2> Find a wish to fulfill! </h2> 
<table class="table table-striped">
  <tr>
    <th>Requester</th>
    <th>Type of Request</th> 
    <th>Tagline</th>
    <th>Details</th> 
    <th>Time of Request</th>
    <th>Location</th>
    <th>Status</th>
    <th>Fulfiller</th>
    <th>Action</th>
  </tr>
  {% for wish in wishes %}
    <tr>
      <td><a href="/user?id={{wish.user_key}}">{{wish.user_key}}</a></td>
      <td>{{wish.type_of_request}}</td>
      <td>{{wish.tagline}}</td>
      <td>{{wish.details}}</td>
      <td>{{wish.created}}</td>
      <td>{{wish.location}}</td>
      <td>{{wish.status.capitalize()}}</td>
      {% if wish.status != 'requested' %}
        <td><a href="/user?id={{wish.user_fulfiller_key}}">{{wish.user_fulfiller_key}}</a></td>
      {% else %}
        <td></td>
      {% endif %}
      {% if wish.status == 'requested' %}
        <form method="post">
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button class='btn btn-success'>Fulfill This Wish</td>
        </form>
      {% elif wish.status == 'in progress' and wish.user_key == session['user_name'] %}
        <form method="post">
          <input name="confirm" type="hidden" value="yes" />
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button name=cancel class='btn btn-success'>Confirm This Wish</td>
        </form>
      {% elif wish.status == 'in progress' and wish.user_fulfiller_key == session['user_name'] %}
        <form method="post">
          <input name="delete" type="hidden" value="yes" />
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button name=cancel class='btn btn-danger'>Cancel This Wish</td>
        </form>
      {% else %}
        <td></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
