<header>
	<div id="header-wrapper">	
		<div id="icon">
			<a href="/"><h1>Serendipity</h1></a>
		</div>
		<div id="options-wrapper">
			<div id="options">
				<ul>
					<li><a href="/make_a_wish"> Make a Wish </a></li>
					<li><a href="/fulfill_a_wish"> Fulfill a Wish </a></li>
					{% if 'authenticated' in session and session['authenticated'] %}
						<li><a href="/user?id={{session["user_name"]}}">My Wishes</a></li>
					{% endif %}
					<li><a href="/users"> Users </a></li>
				</ul>
			</div>
			<div id="profile">
				{% if 'authenticated' in session and session['authenticated'] %}
					<a href="/profile"> {{session['user_name']}} </a>
					<a href="/logout"> Logout </a>
				{% else %}
					<a href="/login"> Login/Signup </a>
				{% endif %}	
			</div>
		</div>
	</div>
</header>
