<header>
	<div id="icon"><a href="/"><h1>Serendipity</h1></div></a>
		<div id="options-wrapper">
			<div id="options">
				<ul>
				
					<li><a href="/make_a_wish"> Make a Wish </a></li>
					<li><a href="/fulfill_a_wish"> Fulfill a Wish </a></li>
					<li><a href="/users"> Users </a></li>
				</ul>
			</div>
			<div id="profile">
				{% if 'authenticated' in session %}
					{% if session['authenticated'] %}
						<a href="/profile"> {{session['user_name']}} </a></li>
						<a href="/logout"> Logout </a></li>
					{% else %}
						<a href="/login"> Login </a></li>
					{% endif %}
				{% else %}
					<a href="/login"> Login </a></li>
				{% endif %}	
			</div>
		</div>
	</div>
</header>
