{% extends "views/base.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/home.css">
<h2> Wishes Granted Recently</h2>

   <div class="panel panel-default granted">
   <img src="static/cupcake.png">
      <div class="panel-body">
      	<p>
	         Name: Ryan Mar<br />
 	         Fulfilled by: Peter Dang <br />
 	         Type: Food <br />
	         Details: Mint chocolate chip cupcake<br />
	         Donation: $5.00<br />
	     </p>
      </div>
   </div>
   <div class="panel panel-default granted">
      <img src="static/cupcake.png">
      <div class="panel-body">
      	<p>
	         Name: Ryan Mar<br />
 	         Fulfilled by: Peter Dang <br />
 	         Type: Food <br />
	         Details: Mint chocolate chip cupcake<br />
	         Donation: $5.00<br />
	     </p>
      </div>
   </div>
      <div class="panel panel-default granted">
      <img src="static/cupcake.png">
      <div class="panel-body">
      	<p>
	         Name: Ryan Mar<br />
 	         Fulfilled by: Peter Dang <br />
 	         Type: Food <br />
	         Details: Mint chocolate chip cupcake<br />
	         Donation: $5.00<br />
	     </p>
      </div>
   </div>
      <div class="panel panel-default granted">
      <img src="static/cupcake.png">
      <div class="panel-body">
      	<p>
	         Name: Ryan Mar<br>
	         Fulfilled by: Peter Dang <br />
	         Type: Food <br />
	         Details: Mint chocolate chip cupcake<br />
	         Donation: $5.00<br />
	     </p>
      </div>
   </div>
	<style>
		h2 {
			text-align: center;
		}
		.granted {
			margin: 6% 3%;
			padding-left: 16px;
			float: left;
			display: inline;
			text-align: center;
		}
	</style>
{% endblock %}