{% extends "views/base.html" %}
{% block body %}
<center><div id="sign-in">
	<form class="form-signin" role="form" method="post">
	    <input name="username" type="text" class="form-control" placeholder="Username"  required autofocus><br>
	    <input  name="phonenumber" type="text" class="form-control" placeholder="Phone number" required><br>
	    {{ "ACCESS DENIED" if denied }} <br>
	    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
	</form>
</div>
<style>
	#sign-in {
		text-align: center;
		position: relative;
		top: 200px;
	}
</style>
{% endblock %}

