<!-- Login -->
{% extends "views/base.html" %}
{% block body %}
{{ "ACCESS DENIED" if denied }}

<div class="container">
  <form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="username" type="text" class="form-control" placeholder="Username"  required autofocus>
    <input  name="phonenumber" type="text" class="form-control" placeholder="Phone number" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->
{% endblock %}

<!-- post request username and password -->
