{% extends "views/base.html" %}
{% block body %}
{% if flash %}
  <div class="alert alert-danger">
    <div style="margin-top: 100px;">{{flash}}</div>
  </div>
{% endif %}
<h2> Create your profile </h2>
<div id="sign-up">
    <img src="static/signup_star.png" height="300" width="300"><br>
    <form class="form-signup" role="form" method="post">
        <label for="username">
            Username <input name="username" type="text" class="form-control" required autofocus>
        </label>
        <label for="phonenumber">
            Phone Number <input  name="phonenumber" type="text" class="form-control" required>
        </label>
        <label for="password">
            Password <input  name="password" type="password" class="form-control" required><br>
        </label>
        <label for="receive_text">
            Receive daily text with wishes? <input name="receive_text" type="checkbox" checked>
        </label>
        <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
    </form>
</div>
<style>
    #sign-up {
        padding-left: 39%;
    }

    button {
        margin-left: 11%;
    }

    form {
        text-align: left;
    }
</style>
{% endblock %}

