{% extends "views/base.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/user.css">
<h2 id="name"> {{session['user_name']}}'s Wishes </h2>

{% for t in range(4) %}
  <div class="wishes" id={{['unfulfilled', 'fulfilled', 'to_complete', 'completed'][t]}}>
    <h3> Wishes {{['Unfulfilled', 'Fulfilled', 'To Complete', 'Completed by You'][t]}} </h3>
    <table class="table table-striped">
      <tr>
        <th>Tagline</th>
        <th>Status</th>
      </tr>
      {% for wish in [unfulfilled, fulfilled, to_complete, completed][t] %}
        <tr>
          <td><a href="/wish?key={{wish.key()}}">{{wish.tagline}}</a></td>
          <td>{{wish.status.capitalize()}}</td>
        </tr>
      {% endfor %}
      </table>
  </div>
{% endfor %}

{% endblock %}
