{% extends "views/base.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/user.css">
<h2 id="name"> {{session['user_name']}}'s Wishes </h2>

{% for t in range(4) %}
  <div class="wishes" id={{['unfulfilled', 'fulfilled', 'to_complete', 'completed'][t]}}>
    <h3> Wishes fulfilled by you </h3>
    <table class="table table-striped">
      <tr>
        <th>Time of Request</th>
        <th>Type of Request</th>
        <th>Tagline</th>
        <th>Status</th>
      </tr>
      {% for wish in [unfulfilled, fulfilled, to_complete, completed][t] %}
        <tr>
          <td>{{wish.time}}</td>
          <td>{{wish.type_of_request}}</td>
          <td>{{wish.tagline}}</td>
          <td>{{wish.status.capitalize()}}</td>
        </tr>
      {% endfor %}
      </table>
  </div>
{% endfor %}

{% endblock %}
