{% extends "views/base.html" %}
{% block body %}
<h2>Current Wishes</h2>
  <table class="table">
  <tr>
    <th>Type of Request</th>
    <th>Details</th> 
    <th>Location</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  {% for wish in wishes %}
    <tr>
      <td>{{wish.type_of_request}}</td>
      <td>{{wish.details}}</td>
      <td>{{wish.location}}</td>
      <td>{{wish.status.capitalize()}}</td>
      {% if wish.status == 'requested' %}
        <form method="post" action="/fulfill_a_wish">
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button class='btn btn-success'>Fulfill This Wish</td>
        </form>
      {% elif wish.status == 'in progress' and wish.user_fulfiller_key == session['user_name'] %}
        <form method="post" action="/fulfill_a_wish">
          <input name="delete" type="hidden" value="yes" />
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button name=cancel class='btn btn-danger'>Cancel this wish</td>
        </form>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<h2> Past Wishes </h2>
{% endblock %}
