{% extends "views/base.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/wish.css">
  {% if flash %}
    <div class="alert alert-success">
      <div style="margin-top: 100px;">{{flash}}</div>
    </div>
  {% endif %}
  <h2> Wish by <a href="/user?id={{wish.user_key}}">{{wish.user_key}}</a></h2>
  <center><table>
      {% for i in range(8) %}
        <tr>
          {% if i == 7 %}
            {% if wish.status != 'requested' %}
              <td> Fulfiller </td>
              <td class="field"> <a href="/user?id={{wish.user_fulfiller_key}}">{{wish.user_fulfiller_key}}</a></td>
            {% endif %}
          {% else %}
            <td>{{['Type of Request', 'Tagline', 'Detail', 'Time of Request', 'Location', 'Status'][i]}}</td>
            <td class="field">{{[wish.type_of_request, wish.tagline, wish.details, wish.time(), wish.location, wish.status.capitalize()][i]}}</td> 
          {% endif %}
        </tr>
      {% endfor %}
  </table></center>

  {% if wish.status == 'requested' %}
    <form method="post" action="/fulfill_a_wish">
      <input name="key" type="hidden" value="{{wish.key()}}" />
      <button class='btn btn-success'>Fulfill This Wish</button>
    </form>
  {% elif wish.status == 'in progress' and wish.user_key == session['user_name'] %}
    <form method="post" action="/fulfill_a_wish">
      <input name="confirm" type="hidden" value="yes" />
      <input name="key" type="hidden" value="{{wish.key()}}" />
      <button name=cancel class='btn btn-warning'>Mark As Fulfilled</button>
    </form>
  {% elif wish.status == 'in progress' and wish.user_fulfiller_key == session['user_name'] %}
    <form method="post" action="/fulfill_a_wish">
      <input name="delete" type="hidden" value="yes" />
      <input name="key" type="hidden" value="{{wish.key()}}" />
      <button name=cancel class='btn btn-danger'>Cancel This Wish</button>
    </form>
  {% endif %}

  {% if wish.status == 'fulfilled' %}
    <button name=cancel class='btn btn-info'>Donation</button>
  {% endif %}
{% endblock %}
