{% extends "views/base.html" %}
{% block body %}
  {% if flash %}
    <div class="alert alert-notice">
      <div style="margin-top: 100px;">{{flash}}</div>
    </div>
  {% endif %}
  <table class="table table-striped">
    <tr>
      <th>Requester</th>
      <th>Type of Request</th> 
      <th>Tagline</th>
      <th>Details</th> 
      <th>Time of Request</th>
      <th>Location</th>
      <th>Status</th>
      <th>Fulfiller</th>
      <th>Action</th>
    </tr>
    <tr>
      <td><a href="/user?id={{wish.user_key}}">{{wish.user_key}}</a></td>
      <td>{{wish.type_of_request}}</td>
      <td>{{wish.tagline}}</td>
      <td>{{wish.details}}</td>
      <td>{{wish.time()}}</td>
      <td>{{wish.location}}</td>
      <td>{{wish.status.capitalize()}}</td>
      {% if wish.status != 'requested' %}
        <td><a href="/user?id={{wish.user_fulfiller_key}}">{{wish.user_fulfiller_key}}</a></td>
      {% else %}
        <td></td>
      {% endif %}
      {% if wish.status == 'requested' %}
        <form method="post" action="/fulfill_a_wish">
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button class='btn btn-success'>Fulfill This Wish</td>
        </form>
      {% elif wish.status == 'in progress' and wish.user_key == session['user_name'] %}
        <form method="post" action="/fulfill_a_wish">
          <input name="confirm" type="hidden" value="yes" />
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button name=cancel class='btn btn-warning'>Mark As Fulfilled</td>
        </form>
      {% elif wish.status == 'in progress' and wish.user_fulfiller_key == session['user_name'] %}
        <form method="post" action="/fulfill_a_wish">
          <input name="delete" type="hidden" value="yes" />
          <input name="key" type="hidden" value="{{wish.key()}}" />
          <td><button name=cancel class='btn btn-danger'>Cancel This Wish</td>
        </form>
      {% else %}
        <td></td>
      {% endif %}
    </tr>
  </table>
{% endblock %}
