body {
	background-color: rgba(131, 139, 131, 0.2);
}

header a:hover{
	text-decoration: none;
}

h1 {
	font-family: 'lobster';
	color: black;
	font-size: 520%;
	padding: 3%;
}

h2 {
	margin: 0px;
}

#icon {
	width: 28%;
	background-color: yellow;
	float: left;
	height: 100px;
}

#options {
	float: left;
	height: 100px;
	width: 72%;
	background-color: black;
}

ul {
	list-style: none;
	margin: 3.5%;
}

li {
	display: inline;
	margin-right: 2%;
}

li a {
	font-family: 'Dosis';
	color: rgba(255, 204, 0, 1);;
	font-size: 200%;
}

li a:hover {
	color: yellow;
}

#profile {
	text-align: right;
	color: yellow;
	display: inline-block;
	margin-left: 50%;
}

#make_a_wish {
	padding-left: 5%;
	padding-top: 10%;
}
