body {
	background-color: rgba(131, 139, 131, 0.2);
	font-family: 'Varela Round';
}

header a:hover{
	text-decoration: none;
}

h1 {
	font-family: 'lobster';
	color: black;
	font-size: 520%;
	padding: 3%;
}

h2 {
	text-align: center;
	font-family: 'lobster';
	margin-top: 0px;
}

ul {
	list-style: none;
	color: yellow;
}

li {
	display: inline;
	margin-right: 5%;
}

li a {
	font-family: 'Dosis';
	color: yellow;
	font-size: 200%;
}

li a:hover {
	color: rgba(255, 204, 0, 1);
}

#icon {
	width: 28%;
	background-color: yellow;
	float: left;
	height: 100px;
}

#options-wrapper {
	float: left;
	height: 100px;
	width: 72%;
	background-color: black;
}

#options {
	margin-top: 3.5%;
	display: inline-block;
	width: 70%;
}

#profile {
	margin-top: 3.5%;
	display: inline-block;
}

#profile a {
	color: rgba(255, 204, 0, 1);
	font-size: 200%;
	margin-left: 50px;
}

#profile a:hover {
	color:yellow;
}
